{% extends 'base.html.twig' %}

{% block title %}New Contact{% endblock %}

{% block body %}
    <h1>Contact</h1>

    {{ include('contact/_form.html.twig') }}

    <a href="{{ path('contact_contact') }}">back to list</a>
{% endblock %}
