{% extends 'base.html.twig' %}

{% block title %}Edit SaisonHotel{% endblock %}

{% block body %}
    <h1>Edit SaisonHotel</h1>

    {{ include('saison_hotel/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('saison_hotel_index') }}">back to list</a>

    {{ include('saison_hotel/_delete_form.html.twig') }}
{% endblock %}
