{% extends 'base.html.twig' %}

{% block title %}SaisonHotel index{% endblock %}

{% block body %}
    <h1>SaisonHotel index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Hotel</th>
                <th>Prix</th>
                <th>Date_debut</th>
                <th>Date_fin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for saison_hotel in saison_hotels %}
            <tr>
                <td>{{ saison_hotel.id }}</td>
                <td>{{ saison_hotel.id_hotel }}</td>
                <td>{{ saison_hotel.prix }}</td> 
                <td>{{ saison_hotel.dateDebut ? saison_hotel.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ saison_hotel.dateFin ? saison_hotel.dateFin|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('saison_hotel_show', {'id': saison_hotel.id}) }}">show</a>
                    <a href="{{ path('saison_hotel_edit', {'id': saison_hotel.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('saison_hotel_new') }}">Create new</a>
{% endblock %}
