{% extends 'base.html.twig' %}

{% block title %}New SaisonHotel{% endblock %}

{% block body %}
    <h1>Create new SaisonHotel</h1>

    {{ include('saison_hotel/_form.html.twig') }}

    <a href="{{ path('saison_hotel_index') }}">back to list</a>
{% endblock %}
