{% extends 'base.html.twig' %}

{% block title %}SaisonHotel{% endblock %}

{% block body %}
    <h1>SaisonHotel</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ saison_hotel.id }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ saison_hotel.prix }}</td>
            </tr>
            <tr>
                <th>Date_debut</th>
                <td>{{ saison_hotel.dateDebut ? saison_hotel.dateDebut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date_fin</th>
                <td>{{ saison_hotel.dateFin ? saison_hotel.dateFin|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('saison_hotel_index') }}">back to list</a>

    <a href="{{ path('saison_hotel_edit', {'id': saison_hotel.id}) }}">edit</a>

    {{ include('saison_hotel/_delete_form.html.twig') }}
{% endblock %}
